.person_top{
    text-align: center;
    background: #2db7f5;
}
.tx{
    width:4rem;
    height:4rem;
    border-radius: 50%;
    padding-top: 0.6rem;
}
.name,.count{
    color: #fff;
}
.count{
    font-size: 0.7rem;
    padding: 0.3rem 0;
}
#open i,#concect_open i,#must_open i,#high_open i,#issue_open i {
    border: solid #ddd;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }