<!--
 * @Author: your name
 * @Date: 2020-01-09 22:30:20
 * @LastEditTime : 2020-01-19 17:39:56
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp2/static/component/feedback.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="./bootstrap-table/bootstrap-table.css" />

    <script src="./jquery/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.js"></script>
    <script src="./bootstrap-table/bootstrap-table.js"></script>
    <script src="./bootstrap-table/bootstrap-table-export.js"></script>
    <script src="./extends/tableExport/jquery.base64.js"></script>
    <script src="./extends/tableExport/tableExport.js"></script>
    <style>
        #reportTableDiv .fixed-table-container {
            height: 486px !important;
        }
    </style>
</head>

<body>
    <div id="content" style="margin-top: 10px;">
        <div id="content-body">
            <div id="reportTableDiv" class="span10">
                <p style="margin-left: 10px;">机构持仓</p>
                <table id="reportTable">
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        // 获取search参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        var code = getUrlParam('code');
        // 增发
        $.ajax({
            url: 'https://stock.zhixiutec.com/api/user',
            type: 'get',
            success: function (res) {
                var data = res.data;
                if (res.error_code === 2) {
                    window.open(data, "_self");
                } else {
                    $.ajax({
                        url: `https://stock.zhixiutec.com/api/stock/fund?code=${code}&token=${data.token}`,
                        success: function (res) {
                            var data = res.data;
                            var zfData = []
                            data.forEach(item => {
                                zfData.push({
                                    fund_name: item.fund_name,
                                    count: item.count,
                                    change: item.change,
                                    percent_jingzhi: item.percent_jingzhi,
                                    percent_liutong: item.percent_liutong,
                                    price: item.price,
                                    number: item.number,
                                })
                            })
                            $('#reportTable').bootstrapTable({
                                method: 'get',
                                cache: false,
                                height: 400,
                                striped: true,
                                pagination: true,
                                pageSize: 10,
                                pageNumber: 1,
                                pageList: [10, 20, 50, 100, 200, 500],
                                search: false,
                                showColumns: false,
                                showRefresh: false,
                                showExport: false,
                                exportTypes: ['csv', 'txt', 'xml'],
                                search: false,
                                clickToSelect: true,
                                columns: [
                                    { field: "fund_name", title: "基金名称", align: "center", valign: "middle", sortable: "true" },
                                    { field: "count", title: "持股数量(手)", align: "center", valign: "middle", sortable: "true" },
                                    { field: "change", title: "变化趋势", align: "center", valign: "middle", sortable: "true" },
                                    { field: "percent_jingzhi", title: "占基金的净值比例", align: "center", valign: "middle", sortable: "true" },
                                    { field: "percent_liutong", title: "占股票流通比例", align: "center", valign: "middle", sortable: "true" },

                                    { field: "price", title: "持股市值(万元)", align: "center", valign: "middle", sortable: "true" },
                                ],
                                data: zfData,
                                onPageChange: function (size, number) {
                                },
                            });
                        }
                    })
                    $(window).resize(function () {
                        $('#reportTable').bootstrapTable('resetView');
                    });
                }
            }
        })


    </script>


    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</body>

</html>