<!--
 * @Author: your name
 * @Date: 2019-12-18 19:50:58
 * @LastEditTime: 2020-02-23 15:16:02
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp/static/component/detail.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css//bootstrap.min.css">
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/mobiletable.css">

    <style>
        #reportTableDiv .fixed-table-loading{
            height: 486px !important;
        }
        .fixed-table-header,.fixed-table-loading{
            display: none !important;
        }
    </style>
    
    <style type="text/css">
        * {
            padding: 0;
            margin: 0
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        .test {
            width: 100% !important;
            height: 100% !important
        }

        .goTop>img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .goTop {
            position: fixed;
            right: 20px;
            bottom: 20px;
        }
    </style>
</head>

<body>
 
    <div id="search_count">

    </div>
    <img id="loadimg" src="../img/b.jpg" alt="" style="width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;">
    <div id="search_detail">
        <div class="weui-tab">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                    日线
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    周线
                </a>
                <a class="weui-navbar__item" href="#tab3">
                    月线
                </a>
            </div>
            <div class="weui-tab__bd">

                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div id="daykline"></div>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                    <div id="weekline"></div>
                </div>
                <div id="tab3" class="weui-tab__bd-item">
                    <div id="monthline"></div>
                </div>
            </div>
        </div>


        <div class="weui-tab__bd" id="bottom_content">
            <div style="width:100%" id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">

                <div style="margin-top: 10px;" class="stock_btn">
                    <p class="weui-media-box__desc" id="percits_date" style="text-align: center;"></p>
                    <p style="padding-left: 15px;font-weight: 400;font-size: 16px;
                ">基本信息</p>
                    <div style="display:flex;text-align: center;">
                        <div style="flex:1">
                            <!-- <h4 class="weui-media-box__title">日期</h4> -->
                            <p class="weui-media-box__desc" id="percits_name" style="font-size: 16px;"></p>
                            
                        </div>
                        <div style="font-size:12px;color: #fff;display: inline-block;width: 20px;height: 20px;background: red;text-align: center;line-height: 20px;" id="tow_r">融</div>
                        <div style="flex:2">
                            <!-- <h4 class="weui-media-box__title">股票名称</h4> -->
                            <p class="weui-media-box__desc" id="percits_price"></p>
                        </div>
                        <div style="flex:1">
                            <span style="color: #1890ff;
                            display: inline-block;
                            z-index: 9999999;
                            width: 76px;
                            border: 1px solid;
                            border-radius: 2px;" id="joinBtn">加入自选</span>
                        </div>
                    </div>

                    <div style="display:flex;text-align: center;">
                        <div style="flex:1">
                            <p class="weui-media-box__desc" id="percits_code"></p>
                        </div>
                        <div style="flex:1">
                            <p class="weui-media-box__desc" id="percits_location"></p>
                        </div>
                        <div style="flex:1">
                            <p class="weui-media-box__desc" id="percits_organizational_form"></p>
                        </div>
                        <div style="flex:1">
                            <p class="weui-media-box__desc" id="percits_belong"></p>
                        </div>
                    </div>
                    <div id="basic_info_content">
                        <div class="basic_info">
                            <span class="besic_span">公司名称：</span>
                            <span id="stock_company_name"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">历史名称变更记录：</span>
                            <span id="detail_history_names"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">机构类型：</span>
                            <span id="stock_institutional_type"></span>
                        </div>

                        <div class="basic_info">
                            <span class="besic_span">办公地址：</span>
                            <span id="detail_address"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">官方网站：</span>
                            <span id="detail_net_address"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">成立时间：</span>
                            <span id="stock_establishment_time"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">上市时间：</span>
                            <span id="detail_listing_date"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">主营业务：</span>
                            <span id="detail_major_businesses"></span>
                        </div>
                        <div class="basic_info">
                            <span class="besic_span">业务范围：</span>
                            <span id="detail_business_scope"></span>
                        </div>
                    </div>
                    <div style="text-align: center;" id="stock_btn">
                        <div style="text-align: center;">
                            <svg style="width:14px;height:14px;" t="1578383044016" class="icon down"
                                viewBox="0 0 1042 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="937"
                                width="16" height="16">
                                <path
                                    d="M516.881 878.059l446.986-413.033v-75.301h-94.68l-352.306 325.56-352.319-325.561h-95.946v74.103z"
                                    p-id="938" fill="#cdcdcd"></path>
                                <path
                                    d="M882.481 220.866v-75.311h-94.68l-270.919 244.184-270.934-244.184h-95.946v74.115l366.88 332.84z"
                                    p-id="939" fill="#cdcdcd"></path>
                                <path d="M942.535 145.555v0.099l0.079-0.099z" p-id="940" fill="#cdcdcd"></path>
                                <path d="M1023.921 389.725v0.099l0.079-0.099z" p-id="941" fill="#cdcdcd"></path>
                            </svg>
                            <svg style="width:14px;height:14px;display:none" t="1578382997704" class="icon up"
                                viewBox="0 0 1042 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="700"
                                width="16" height="16">
                                <path
                                    d="M528.451694 145.94086 81.465406 558.973848 81.465406 634.274858 176.145789 634.274858 528.451694 308.714084 880.771925 634.274858 976.718137 634.274858 976.718137 560.171116Z"
                                    p-id="701" fill="#cdcdcd"></path>
                                <path
                                    d="M162.852018 803.133683 162.852018 878.444926 257.532401 878.444926 528.451694 634.260531 799.385313 878.444926 895.331525 878.444926 895.331525 804.330952 528.451694 471.491401Z"
                                    p-id="702" fill="#cdcdcd"></path>
                                <path d="M81.465406 878.444926 81.465406 878.345666 81.386612 878.444926Z" p-id="703"
                                    fill="#cdcdcd"></path>
                                <path d="M0.078795 634.274858 0.078795 634.175597 0 634.274858Z" p-id="704"
                                    fill="#cdcdcd"></path>
                            </svg>
                        </div>
                        <hr style="margin-top: 0;">
                    </div>

                </div>



                <div class="" style="margin-bottom: 20px;">
                    <!-- <div class="weui-panel__hd">命中条件</div> -->
                    <div style="margin-top: -20px;">
                        <div class="weui-media-box weui-media-box_text" style="padding-top: 2px;">
                            <h6 style="font-size: 16px;" class="weui-media-box__title">优势</h6 style="font-size: 14px;">
                            <p class="weui-media-box__desc" id="percits_condition" style="margin:0"></p>
                        </div>
                        <div class="weui-media-box weui-media-box_text" style="padding-top: 2px;">
                            <h4 style="font-size: 16px;" class="weui-media-box__title">劣势</h4>
                            <p class="weui-media-box__desc" id="percits_bad_condition" style="margin:0"></p>
                        </div>
                        <div class="weui-media-box weui-media-box_text" style="padding-top: 2px;padding-bottom: 0;">
                            <h4 style="font-size: 16px;" class="weui-media-box__title">财务指标</h4>
                            <p class="weui-media-box__desc" id="percits_finance" style="margin:0"></p>
                        </div>
                        <div class="weui-media-box weui-media-box_text" style="padding-top: 2px;padding-bottom: 0;">
                            <h4 style="font-size: 16px;" class="weui-media-box__title">概念指标</h4>
                            <p class="weui-media-box__desc" id="percits_concept" style="margin:0"></p>
                        </div>
                    </div>
                </div>

                <div id="count_static">
                    <p style="font-size: 16px;padding-left: 15px;">数量统计</p>
                    <div class="weui-panel__ft" id="cc_count">
                        <a href="" id="ch_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>基金持仓数量：</span>
                                <span id="per_fund_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="kk_company">
                        <a href="" id="kg_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>控股公司数量：</span>
                                <span id="per_subcomp_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="fh_div">
                        <a href="" id="fh_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>分红次数：</span>
                                <span id="per_fenghong_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="sg_div">
                        <a href="" id="sg_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>送股次数：</span>
                                <span id="per_songgu_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="zz_div">
                        <a href="" id="zz_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>转增次数：</span>
                                <span id="per_zhuangzeng_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="pg_div">
                        <a href="" id="pg_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>配股次数：</span>
                                <span id="per_peigu_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>
                    <div class="weui-panel__ft" id="zf_div">
                        <a href="" id="zf_count" class="weui-cell weui-cell_access weui-cell_link">
                            <div class="weui-cell__bd">
                                <span>增发次数：</span>
                                <span id="per_zengfa_count">111</span>
                            </div>
                            <span class="weui-cell__ft">查看详情</span>
                        </a>
                    </div>

                </div>

                <div id="stock_score" style="width:100%;height:260px"></div>
                <div id="stock_cash_flow" style="width:100%;height:260px;"></div>
            </div>
            <div style="height: 500px;">
                <p style="font-size: 16px;padding-left:15px;margin-top: 10px;">十大流动股东</p>
                <div id="test" class="test"></div>
            </div>
            <div style="width:100%;" id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <p style="font-size: 16px;padding-left:15px;margin-top: 10px;">财务数据</p>

                <div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__hd" id="yy_open">
                            运营能力<i class="down_open"></i><i class="up_open" style="display:none;"></i>
                        </div>
                        <div class="weui-panel__bd" id="yy_content">


                        </div>
                    </div>

                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__hd" id="cz_open">
                            成长能力<i class="down_open"></i><i class="up_open" style="display:none;"></i>
                        </div>
                        <div class="weui-panel__bd" id="cz_content">
                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__hd" id="yl_open">
                            盈利能力<i class="down_open"></i><i class="up_open" style="display:none;"></i>
                        </div>
                        <div class="weui-panel__bd" id="yl_content">
                        </div>
                    </div>

                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__hd" id="mg_open">
                            每股财务指标<i class="down_open"></i><i class="up_open" style="display:none;"></i>
                        </div>
                        <div class="weui-panel__bd" id="mg_content">
                        </div>
                    </div>



                </div>
                <!-- <div id="stock_cash_flow" style="width:100%;height:210px;"></div>

                <div id="stock_liabilities" style="width:100%;height:210px;"></div>

                <div id="stock_profit" style="width:100%;height:210px"></div> -->
            </div>


            <div id="content" style="margin-top: 10px;">
                <div id="content-body">
                    <div id="reportTableDiv" class="span10">
                        <p style="margin-left: 10px;margin-bottom: 40px;color:red">近期公告</p>
                        <table id="currTable">
                        </table>
                    </div>
                </div>
            </div>

            <div id="content" style="margin-top: 10px;">
                <div id="content-body">
                    <div id="reportTableDiv2" class="span10">
                        <p style="margin-left: 10px;margin-bottom: 40px;color:red">历史季度报表</p>
                        <table id="jdTable">
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="weui-tabbar" style="position:fixed; bottom: 0; ">
        <a href="/component/search.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../img/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">查询</p>
        </a>
        <a href="/component/person.html" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="../img/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <script src="../js/qecode.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="./bootstrap-table/bootstrap-table.js"></script>
    <script src="./bootstrap-table/bootstrap-table-export.js"></script>
    <script src="./extends/tableExport/jquery.base64.js"></script>
    <script src="./extends/tableExport/tableExport.js"></script>
    <script src="../js/stock_cash_flow.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jwerixin.js"></script>
    <script src="../js/detail.js"></script>
    <script src="../js/page.js"></script>
    <script src="../js/GoToTop.js"></script>
    <script src="../js/mobiletable.js"></script>

    </script>
    <script>
        //示例
        $('#js-go_top').gotoTop({
            offset: 500, //距离顶部的位置
            speed: 300, //移动到顶部的速度
            /*     iconSpeed : 300, //icon动画样式的速度*/
            animationShow: {
                'transform': 'translate(0,0)',
                'transition': 'transform .5s ease-in-out'
            }, //icon动画样式显示时
            animationHide: {
                'transform': 'translate(80px,0)',
                'transition': 'transform .5s ease-in-out'
            } //icon动画样式隐藏时
        });


    </script>
</body>

</html>