<!--
 * @Author: your name
 * @Date: 2019-12-17 19:52:10
 * @LastEditTime: 2020-03-09 19:44:05
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp/static/component/list.html
 -->
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>鉴股查询</title>
     <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
     <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
     <link rel="stylesheet" href="../css/person.css">
 </head>
 
 <body>
     <div style="margin-bottom: 40px;">
    <h2 style="margin-bottom: 30px;color: green;text-align: center;">安徽马斯克防护用品</h2>
    <p style="padding: 0px 10px;">安徽马斯克防护用品有限公司主要生产卫生用品， 一次性用品， 一次性卫生口罩(非医用)等卫生防护产品，高品质口罩批发请在下单页提交相应信息， 详情请咨询客服。</p>

</div>

<p style="font-size: 13px;color: #aaa;padding: 10px 0 0 10px;">点击查看：</p>
<div style="padding: 10px 0 0 10px;">
    <div style="margin-bottom: 10px;">

        <a href="../img/1_一次性使用口罩企业标准--pdf.pdf"   target="_blank">一次性使用口罩企业标准</a>
    </div>
    <div>
        <a href="../img/工商营业执照.pdf"   target="_blank">工商营业执照</a>
    </div>
</div>
</body>
 
 </html>