<!--
 * @Author: your name
 * @Date: 2019-12-17 19:52:10
 * @LastEditTime: 2020-03-09 20:57:18
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp/static/component/list.html
 -->
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>马斯克防护用品批发</title>
     <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
     <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
     <link rel="stylesheet" href="../css/person.css">
 </head>
 
 <body>
 
 
     <div class="weui-cells__title">请选择：</div>
     <div class="weui-cells weui-cells_form">
            <div style="font-size: 12px;margin-top: 22px;">
                    <span style="display: inline-block;width: 47%;margin-left: 15px;">种类</span>
                    <span style="display: inline-block;width: 20%;">金额</span>
                </div>
         <div class="weui-cells weui-cells_radio" id="wechat" style="margin-top: 10px;">
             
         </div>
         <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" style="color:#333;font-size:13px" >邮寄地址：</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" id="email"  placeholder="请输入您的邮寄地址" style="font-size: 12px;">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" style="color:#333;font-size:13px" >联系方式：</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" id="phone"  placeholder="请输入您的联系方式" style="font-size: 12px;">
            </div>
          </div>
         <!-- <div style="margin:10px">
             <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
             <span class="weui-agree__text" style="font-size: 14px;">
                 阅读并同意<a href="https://mp.weixin.qq.com/s/ts2UbPURxMzPqIUa92byRA">《知修数据服务公众号服务条款》</a>
               </span>
         </div> -->
             <a style="margin-top: 20px;" class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确认支付</a>
         </div>

     </div>
  
 
     <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
     </script>
     <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
     <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
     <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
     <script src="../js/qecode.js"></script>
     <script src="../js/jwerixin.js"></script>
     <script src="../js/oauth.js"></script>
     <script>
 
         $('.weui-check__label').on('click', function (e) {
         })

         $.ajax({
                             url: `https://stock.zhixiutec.com/api/is_member`,
                             success: function (res) {
                                 var is_member = res.data;
                                     $('#member_val').css("display", "none")
                                     $('#is_hy').css("display", "none")
                                     $.ajax({
                                         url: `https://stock.zhixiutec.com/api/payments?type=mask`,
                                         success: function (result) {
                                             var leader = result.data;
                                             var member = '' ,contact_val ='';
                                             for (var i = 0; i < leader.length; i++) {
                                                 $("#wechat").append(`
                                                 <label style="color:#333;font-size:13px"  class="weui-cell weui-check__label" for="${leader[i].id}">
                                                     <div class="weui-cell__bd">
                                                         <p style="font-size:12px;">
                                                             <span style="display:inline-block;width:50%;margin-right:10px">${leader[i].type_desc}</span>
                                                             <span style=display:inline-block;width:20%;"margin-right:10px">${leader[i].spend/100}元</span>
                                                             </p>
                                                     </div>
                                                     <div class="weui-cell__ft">
                                                         <input type="radio" class="weui-check" name="radio1" id="${leader[i].id}">
                                                         <span class="weui-icon-checked"></span>
                                                     </div>
                                                 </label>
                                                 `);
                                             }
                                             $('.weui-check__label').on('click', function (e) {
                                                 member = parseInt(e.target.id);
                                             })
                                             $('#email').on('input',function(e){
                                                contact_val = e.target.value;
                                             })
                                             var phone_val;
                                             $('#phone').on('input',function(e){
                                                phone_val = e.target.value;
                                             })
                                             $('#showTooltips').on('click', function () {
                                                 if(!$('#email').val()){
                                                     $.toast('请输入邮寄地址','cancel')
                                                     return;
                                                 }
                                                 if(!$('#phone').val()){
                                                     $.toast('请输入联系方式','cancel')
                                                     return;
                                                 }
                                                 if(member  && contact_val && phone_val){
                                                     $.ajax({
                                                         url: 'https://stock.zhixiutec.com/api/jsapi_pay',
                                                         type: 'post',
                                                         data: JSON.stringify({ "id": member,content:`${contact_val}|${phone_val}` }),
                                                         success: function (res) {
                                                             alert('success')
                                                             var result = res.data;
                                                             wx.config({
                                                                 debug: false,
                                                                 appId: result["appId"],
                                                                 timestamp: result["timeStamp"],
                                                                 nonceStr: result["nonceStr"],
                                                                 signature: result["signature"],
                                                                 jsApiList: [
                                                                     'chooseWXPay',
                                                                     'updateTimelineShareData'
                                                                 ]
                                                             });
                                                             wx.ready(function () {
                                                               
                                                                 wx.chooseWXPay({
                                                                     appId: result["appId"],
                                                                     timestamp: result["timeStamp"], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                                                     nonceStr: result["nonceStr"], // 支付签名随机串，不长于 32 位
                                                                     package: result["package"], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                                                                     signType: result["signType"], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                                                                     paySign: result["sign"], // 支付签名
                                                                     success: function (res) {
                                                                        //  window.open('/component/person.html',"_self")
                                                                        $.toast('购买成功!')
                                                                     },
 
                                                                     fail: function (res) {
                                                                         $.hideLoading()
                                                                         // alert('支付失败!');
                                                                         toast("支付失败！请检查微信配置");
                                                                     },
                                                                     cancel: function (res) {
 
                                                                         // //支付取消
                                                                         $.hideLoading()
                                                                         toast("已取消支付！");
                                                                     }
                                                                 });
                                                             });
 
                                                         },
                                                         error:function(err){
                                                             alert('error')
                                                         }
                                                     })
                                                 }else if(!member){
                                                     $.toast("请选择进行充值", "cancel");
                                                 }
                                             })
 
                                         }
                                     })
                             }
                         })
 
       
 
 
     
 
 
     </script>
 </body>
 
 </html>