<!--
 * @Author: your name
 * @Date: 2019-12-17 19:52:10
 * @LastEditTime : 2020-01-20 14:17:51
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp/static/component/list.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知修数据</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/person.css">
</head>

<body>


    <div style="margin:12px;">当前剩余查询次数：<span style="color: red;" id="left_count"></span></div>
    <div class="weui-cells__title">请选择充值：</div>
    <div class="weui-cells weui-cells_form">
        <div style="font-size: 12px;">
            <span style="display: inline-block;width: 50%;margin-left: 15px;">种类</span>
            <span style="display: inline-block;width: 20%;">金额</span>
            <span>时间</span>
        </div>
        <div class="weui-cells weui-cells_radio" id="wechat" style="margin-top: 10px;">
            
        </div>
        <div style="margin:10px">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text" style="font-size: 14px;">
                阅读并同意<a href="https://mp.weixin.qq.com/s/ts2UbPURxMzPqIUa92byRA">《知修数据服务公众号服务条款》</a>
              </span>
        </div>
        <!-- <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
              阅读并同意<a href="https://mp.weixin.qq.com/s/ts2UbPURxMzPqIUa92byRA">《相关条款》</a>
            </span>
          </label>
        <div class="weui-btn-area"> -->
            <a style="margin-top: 20px;" class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确认支付</a>
        </div>
    </div>

    <div style="font-size: 12px;color:#999;margin-left:20px;margin-top:20px;">
        <div style="margin-bottom: 5px;">功能须知：</div>
        <div style="margin-bottom: 15px;">由于数据算力对服务器资源,性能,成本的影响，知修数据服务对功能使用做了如下的规格:</div>
        <ul>
            <li>普通用户可以购买查询套餐补充查询次数, 查询次数不会过期</li>
            <li>普通用户每次发起查询搜索功能会消耗一次查询次数，邀请好友并首次登陆成功会获得额外的20次查询机会</li>
            <li>会员可无限制使用查询，搜索， 获取股票最新详情信息， 且不消耗查询次数，如已经是会员， 再次购买会延长对应的过期时间</li>
        </ul>
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <script src="../js/jwerixin.js"></script>
    <script>

        $('.weui-check__label').on('click', function (e) {
        })
        $.ajax({
                            url: `https://stock.zhixiutec.com/api/is_member`,
                            success: function (res) {
                                var is_member = res.data;
                                    $('#member_val').css("display", "none")
                                    $('#is_hy').css("display", "none")
                                    if(is_member === true){
                                        $('#showTooltips').text('续费')
                                    }
                                    $.ajax({
                                        url: `https://stock.zhixiutec.com/api/payments`,
                                        success: function (result) {
                                            var leader = result.data;
                                            var member = '';
                                            for (var i = 0; i < leader.length; i++) {
                                                $("#wechat").append(`
                                                <label style="color:#333;font-size:13px" class="weui-cell weui-check__label" for="${leader[i].id}">
                                                    <div class="weui-cell__bd">
                                                        <p style="font-size: 12px;">
                                                            <span style="display:inline-block;width:50%;margin-right:10px;font-size:12px;">${leader[i].type_desc}</span>
                                                            <span style="display:inline-block;width:20%;margin-right:10px;font-size:12px">${leader[i].spend/100}元</span>
                                                            <span style=""font-size:12px>${leader[i].count}${leader[i].type === 'query' ? '次':'个月'}</span>
                                                            </p>
                                                    </div>
                                                    <div class="weui-cell__ft">
                                                        <input type="radio" class="weui-check" name="radio1" id="${leader[i].id}">
                                                        <span class="weui-icon-checked"></span>
                                                    </div>
                                                </label>
                                                `);
                                            }
                                            $('.weui-check__label').on('click', function (e) {
                                                member = parseInt(e.target.id);
                                            })
                                            $('#showTooltips').on('click', function () {
                                                if(member && $('#weuiAgree').is(':checked')){
                                                    $.ajax({
                                                        url: 'https://stock.zhixiutec.com/api/jsapi_pay',
                                                        type: 'post',
                                                        data: JSON.stringify({ "id": member }),
                                                        success: function (res) {
                                                            var result = res.data;
                                                            wx.config({
                                                                debug: false,
                                                                appId: result["appId"],
                                                                timestamp: result["timeStamp"],
                                                                nonceStr: result["nonceStr"],
                                                                signature: result["signature"],
                                                                jsApiList: [
                                                                    'chooseWXPay',
                                                                ]
                                                            });
                                                            wx.ready(function () {
                                                                wx.chooseWXPay({
                                                                    appId: result["appId"],
                                                                    timestamp: result["timeStamp"], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                                                    nonceStr: result["nonceStr"], // 支付签名随机串，不长于 32 位
                                                                    package: result["package"], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                                                                    signType: result["signType"], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                                                                    paySign: result["sign"], // 支付签名
                                                                    success: function (res) {
                                                                        window.open('/component/person.html',"_self")
                                                                    },

                                                                    fail: function (res) {
                                                                        $.hideLoading()
                                                                        // alert('支付失败!');
                                                                        toast("支付失败！请检查微信配置");
                                                                    },
                                                                    cancel: function (res) {

                                                                        // //支付取消
                                                                        $.hideLoading()
                                                                        toast("已取消支付！");
                                                                    }
                                                                });
                                                            });

                                                        }
                                                    })
                                                }else if(!member){
                                                    $.toast("请选择进行充值", "cancel");
                                                }else if(!$('#weuiAgree').is(':checked')){
                                                    $.toast("请勾选同意并阅读服务条款", "cancel");
                                                }
                                            })

                                        }
                                    })
                            }
                        })

      


    


    </script>
</body>

</html>