<!--
 * @Author: your name
 * @Date: 2019-12-17 19:52:10
 * @LastEditTime : 2020-01-19 16:54:20
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp/static/component/list.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知修数据</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/person.css">
</head>

<body>
    <div class="person_top">
       
        <img src="" alt="头像" class="tx">
        <div>
            <span class="name" style="padding-bottom: 10px;">
        
            </span>
            <span id="is_hy" style="color: red;font-size: 12px;">
                会员
            </span>
        </div>
        <div style="display: flex;margin-top: 10px;">
            <div style="flex:1">
                <p style="color: #fff;font-size: 12px;" id="time">111</p>
                <p style="color: #fff;font-size: 12px;">到期时间</p>
            </div>
            <div style="flex:1">
                <p style="color: #fff;font-size: 12px;" id="joinTime">111</p>
                <p style="color: #fff;font-size: 12px;">查询次数</p>
            </div>
            <div style="flex:1">
                <p style="color: #fff;font-size: 12px;" id="exp_val">111</p>
                <p style="color: #fff;font-size: 12px;">经验值</p>
            </div>
        </div>
    </div>

    <div>
       
        <!-- <div class="weui-cell" style="margin-top: 10px;" id="member_val">
            <div class="weui-cell__hd"><label for="name" class="weui-label" style="padding-right: 10px;color: #999;
                font-size: 13px;">会员到期时间:</label>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-input" id="time"></div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="name" class="weui-label" style="padding-right: 10px;color: #999;
                font-size: 13px;">查询剩余次数:</label>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-input" id="joinTime"></div class="weui-input" id="joinTime">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="name" class="weui-label" style="padding-right: 10px;color: #999;
                font-size: 13px;">经验值:</label>
            </div>
            <div class="weui-cell__bd">
                <div class="weui-input" id="exp_val"></div class="weui-input" id="joinTime">
            </div>
        </div> -->
        <div class="weui-cells" style="margin: 0px;">
            <a class="weui-cell weui-cell_access" href="/component/pay.html">
              <div class="weui-cell__bd">
                <p style="color: #999;
                font-size: 13px;">升级会员/购买查询次数</p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
          </div>
          <div class="weui-cells" style="margin: 0px;">
            <a class="weui-cell weui-cell_access" href="/component/buy.html">
              <div class="weui-cell__bd">
                <p style="color: #999;
                font-size: 13px;">购买数据</p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
          </div>


        <div class="weui-cells"style="margin: 0px;" >
            <a class="weui-cell weui-cell_access" href="/component/feedback.html">
              <div class="weui-cell__bd">
                <p style="color: #999;
                font-size: 13px;">反馈和定制</p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
          </div>

          <div class="weui-cells"style="margin: 0px;" >
            <a class="weui-cell weui-cell_access" href="/component/invite.html">
              <div class="weui-cell__bd">
                <p style="color: #999;
                font-size: 13px;">邀请记录</p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
          </div>
          <div class="weui-cells"style="margin: 0px;" >
            <a class="weui-cell weui-cell_access" href="/component/xq.html">
              <div class="weui-cell__bd">
                <p style="color: #999;
                font-size: 13px;">我的需求</p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
          </div>


          <button id="share_btn" style="margin-bottom: 50px;">分享</button>
<!-- 
          <div class="weui-panel weui-panel_access" style="margin: 0px;">
            <div class="weui-panel__hd" id="open">
                邀请记录<i class="down"></i><i class="up" style="display:none;"></i>

            </div>
            <div id="invite_dom"></div>
        </div> -->

        <!-- <div class="weui-panel weui-panel_access" style="margin: 0px;">
            <div class="weui-panel__hd" id="issue_open">
                我的需求<i class="down"></i><i class="up" style="display:none;"></i>

            </div>
            <div id="my_issue"></div>
        </div> -->

 
        <!-- <div class="weui-cell">
            <div class="weui-cell__hd"><label for="name" class="weui-label">我的条件</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="other" type="text" value="" readonly="" data-values="1,2,3">
            </div>
        </div> -->
    </div>
    <div class="weui-tabbar">
        <a href="/component/search.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../img/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">查询</p>
        </a>
        <a href="/component/person.html" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="../img/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <!-- <script src="../js/jwerixin.js"></script> -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>




        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        $('#invite_dom').css({ "display": "none" })
        $('#open').on('click', function () {
            $('#invite_dom').slideToggle("slow");
            $("#open .up").toggle();
            $("#open .down").toggle();
        })


        $('#my_issue').css({ "display": "none" })
        $('#issue_open').on('click', function () {
            $('#my_issue').slideToggle("slow");
            $("#issue_open .up").toggle();
            $("#issue_open .down").toggle();
        })

        $.ajax({
            url: 'https://stock.zhixiutec.com/api/user',
            type: 'get',
            success: function (res) {
                var data = res.data;
                if (res.error_code === 2) {
                    window.open(data, "_self");
                } else {
                    $('.tx').attr('src', data.avatar);
                    $('.name').text(data.user_name);
                    $('#joinTime').text(data.query_left)
                    $('#time').text(data.member_expire_time.substring(0, 10))
                    $('#exp_val').text(data.exp)

                    wx.ready(function () {  })
$('#share_btn').on('click',function(){
    $.ajax({
        url:`https://stock.zhixiutec.com/api/share?url=https://stock.zhixiutec.com/component/person.html
        `,
        success:function(res){
            var shareData = res.data;
            alert('qqq')
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: shareData.appid, // 必填，公众号的唯一标识
                timestamp: shareData.timestamp, // 必填，生成签名的时间戳
                nonceStr: shareData.noncestr, // 必填，生成签名的随机串
                signature: shareData.signature,// 必填，签名
                jsApiList: ['updateTimelineShareData'] // 必填，需要使用的JS接口列表
              })
              wx.ready(function () {      //需在用户可能点击分享按钮前就先调用
                wx.updateTimelineShareData({ 
                  title: 'aaa', // 分享标题
                  link: `${shareData.url}?token=${data.token}`, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                  imgUrl: '', // 分享图标
                  success: function () {
                    // 设置成功
                    alert('分享成功')
                  },
                  error:function(err){
                    console.log('err',error)
                  }
                })
              }); 
        }
    })
})

                    // 获取我的需求
                    $.ajax({
                        url:'https://stock.zhixiutec.com/api/my_comments',
                        success:function(res){
                            var issue = res.data;
                            var issue_val = ''
                            if(issue.length>0){
                                issue.forEach(item => {
                                    issue_val += `
                                    <div class="weui-panel__bd" id="open_content">
                                        <div class="weui-media-box weui-media-box_small-appmsg">
                                            <div class="weui-cells">
                                                <a class="weui-cell weui-cell_access" href="javascript:;">
                                                    <div class="weui-cell__hd" style="font-size:14px;color:#333;margin-right:10px;">
                                                        ${item.CreatedAt.substring(0,10)}:</div>
                                                    <div class="weui-cell__bd weui-cell_primary">
                                                        <p style="font-size:14px;color:#333">${item.content}</p>
                                                        <p style="font-size:14px;color:#333">${item.response}</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    `
                                })
                                $('#my_issue').append(issue_val)
                            }else{

                            }
                        }
                    })
                    $.ajax({
                        url: 'https://stock.zhixiutec.com/api/is_member',
                        success: function (res) {
                            var is_member = res.data;

                            if (is_member === false) {
                                $('#member_val').css("display","none")
                                $('#is_hy').css("display","none")
                                $.ajax({
                                    url: 'https://stock.zhixiutec.com/api/payments',
                                    success: function (result) {
                                        var leader = result.data;
                                        var member = '';
                                        for (var i = 0; i < leader.length; i++) {
                                            $("#wechat").append(`<option value=${leader[i].id}>${leader[i].type_desc}</option>`);
                                        }
                                        $('#wechat').on('change', function (e) {
                                            member = parseInt(e.target.value);
                                            $('#pay_btn').on('click', function () {
                                                $.ajax({
                                                    url: 'https://stock.zhixiutec.com/api/jsapi_pay',
                                                    type: 'post',
                                                    data: JSON.stringify({ "id": member }),
                                                    success: function (res) {
                                                        var result = res.data;
                                                        wx.config({
                                                            debug: false,
                                                            appId: result["appId"],
                                                            timestamp: result["timeStamp"],
                                                            nonceStr: result["nonceStr"],
                                                            signature: result["signature"],
                                                            jsApiList: [
                                                                'chooseWXPay',
                                                            ]
                                                        });
                                                        wx.ready(function () {
                                                            wx.chooseWXPay({
                                                                appId: result["appId"],
                                                                timestamp: result["timeStamp"], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                                                nonceStr: result["nonceStr"], // 支付签名随机串，不长于 32 位
                                                                package: result["package"], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                                                                signType: result["signType"], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                                                                paySign: result["sign"], // 支付签名
                                                                success: function (res) {
                                                                },

                                                                fail: function (res) {
                                                                    $.hideLoading()
                                                                    // alert('支付失败!');
                                                                    toast("支付失败！请检查微信配置");
                                                                },
                                                                cancel: function (res) {

                                                                    // //支付取消
                                                                    $.hideLoading()
                                                                    toast("已取消支付！");
                                                                }
                                                            });
                                                        });

                                                    }
                                                })
                                            })

                                        })

                                    }
                                })
                            }
                        }
                    })

                    // 我的邀请
                    $.ajax({
                        url: 'https://stock.zhixiutec.com/api/my_invites',
                        success: function (res) {
                            var data = res.data;
                            var invite = '';
                            if (data.length > 0) {
                                data.forEach(item => {
                                    invite += `
                                    <div class="weui-panel__bd" id="open_content">
                                        <div class="weui-media-box weui-media-box_small-appmsg">
                                            <div class="weui-cells">
                                                <a class="weui-cell weui-cell_access" href="javascript:;">
                                                    <div class="weui-cell__hd"><img

                                                            src=${item.Avatar}
                                                            alt="" style="width:25px;border-radius:50%;margin-right:5px;display:block"></div>
                                                    <div class="weui-cell__bd weui-cell_primary">
                                                        <p>${item.UserName}</p>
                                                    </div>
                                                    <span>${item.CreatedAt.substring(0,10)}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    `
                                })
                                $('#invite_dom').append(invite)
                            } else {
                                $('#invite_dom').append(`<div>暂无邀请，快去邀请你的小伙伴吧，赢取查询次数</div>`)
                            }
                        }
                    })
                }

            }
        })

        // $.ajax({
        //     url: 'https://stock.zhixiutec.com/api/my_conditions',
        //     type: 'get',
        //     success: function (res) {
        //         var data = res.data;
        //         var arr = [];
        //         var allConditions = [];
        //         data.map(item => {
        //             var conditions = item.conditions;
        //             var belongs = conditions.belongs;
        //             var concepts = conditions.concepts;
        //             var labels = conditions.labels;
        //             var locations = conditions.locations;
        //             var organizational_form = conditions.organizational_form;
        //             var predicts = conditions.predicts;

        //             allConditions = belongs.concat(concepts).concat(labels).concat(locations).concat(organizational_form).concat(predicts)

        //             console.log('allConditions', allConditions.join(','))
        //             arr.push(allConditions.join(','))
        //         })
        //         console.log('arr', arr)
        //         $("#other").select({
        //             title: "选择我的条件",
        //             items: arr,
        //             onClose: function (e) {
        //                 console.log('eee', e)
        //             }
        //         });
        //     }
        // })
    </script>
</body>

</html>