<!--
 * @Author: your name
 * @Date: 2020-01-20 17:07:46
 * @LastEditTime : 2020-01-21 11:54:02
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp2/static/component/wx.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background: #000;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <p style="color: #fff;">提示：请扫二维码在微信客户端内打开</p>
        <img style="width: 80%;" src="../img/qrcode.png" alt="">
    </div>
</body>
</html>