<!--
 * @Author: your name
 * @Date: 2020-02-12 15:35:42
 * @LastEditTime : 2020-02-12 16:03:30
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp2/static/component/zxg.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>

<body>
    <div class="weui-cells" id="zxg">
        
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script>
        $.ajax({
            url: 'https://stock.zhixiutec.com/api/my_select',
            success: function (res) {
                var data = res.data;
                var str = '';
                for (var i = 0; i < data.length; i++) {
                    str += `
                      <div class="weui-cell weui-cell_swiped">
                        <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>${data[i].name}</p>
                            </div>
                            <div class="weui-cell__ft">向左滑动试试</div>
                            </div>
                        </div>
                        <div class="weui-cell__ft">
                            <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                        </div>
                        </div>
                      `
                }
                $('#zxg').append(str)
            }

        })
    </script>
</body>

</html>