<!--
 * @Author: your name
 * @Date: 2020-02-12 15:35:42
 * @LastEditTime : 2020-02-12 20:29:47
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /gp2/static/component/zxg.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>

<body>
    <div style="text-align: center;font-size: 13px;color:#adaddd;margin-top: 4px;">左滑删除</div>
    <div class="weui-cells" id="zxg">

    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script>
        $.ajax({
            url: 'https://stock.zhixiutec.com/api/my_select',
            success: function (res) {
                var data = res.data;
                var str = '';
                data.forEach(item => {
                    str += `
                      <div class="weui-cell weui-cell_swiped gogogo" data-code=${item.code}>
                       
                            <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="weui-cell">
                            <div class="weui-cell__bd goCode">
                                <p>${item.name} ${item.code}</p>
                            </div>
                            <div class="weui-cell__ft"><<<</div>
                            </div>
                        </div>
                        <div class="weui-cell__ft">
                            <a data-id=${item.ID} class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout">删除</a>
                        </div>
                        
                        </div>
                      `
                })
                if(data.length > 0){
                    $('#zxg').append(str)
                } else{
                    $('#zxg').append('<div>暂无数据</div>')
                }
                
                $('.weui-cell_swiped').swipeout();
                $('.goCode').on('click',function(){
                    var code = $('.gogogo').attr('data-code');
                    window.open(`/component/detail.html?code=${code}`,"_self")
                })
                $('.delete-swipeout').on('click', function (res) {
                    var id = $(this).attr('data-id');
                    var jsonData = {
                        "id": parseInt(id)
                    }
                    $.ajax({
                        url: 'https://stock.zhixiutec.com/api/del_stock',
                        type: 'post',
                        data: JSON.stringify(jsonData),
                        success: function (res) {
                            $.toast(res.data)
                            location.reload() 
                    //         $('#zxg').html('')
                    //         $.ajax({
                    //             url: 'https://stock.zhixiutec.com/api/my_select',
                    //             success: function (res) {
                    //                 var data = res.data;
                    //                 var str = '';
                    //                 data.forEach(item => {
                    //                     str += `
                    //   <div class="weui-cell weui-cell_swiped">
                    //     <div class="weui-cell__bd" style="transform: translate3d(0px, 0px, 0px);">
                    //         <div class="weui-cell">
                    //         <div class="weui-cell__bd">
                    //             <p>${item.name}</p>
                    //         </div>
                    //         <div class="weui-cell__ft"><<<</div>
                    //         </div>
                    //     </div>
                    //     <div class="weui-cell__ft">
                    //         <a data-id=${item.ID} class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" href="javascript:">删除</a>
                    //     </div>
                    //     </div>
                    //   `
                    //                 })
                    //                 $('#zxg').append(str)
                    //                 $('.weui-cell_swiped').swipeout();
                    //             }
                    //         })
                        }
                    })
                })
            }

        })
    </script>
</body>

</html>